 * {

        margin: 0 auto;
        text-align: center;
        font-family: "Montserrat", sans-serif;
    }

header {
    background: no-repeat url('house2.png');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    padding-top: 10vh;

}

h1 {
    background-color: rgb(243 243 243 / 91%);
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;

}

h2 {

    padding: 2vh;
}

h3 {
    padding-bottom: 1vh;
    font-weight: normal;
}

p {
    padding: 1vh;
}

img,
iframe {
    min-width: 30vw;
    max-width: 80vw;
    max-height: 70vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

iframe {
    min-height: 40vh;
}

section {
    padding: 3vh;
}

.blue {
    background-color: rgba(145, 224, 254, 84%);
}

.tour {
    padding: 2vh;
}

.portrait {
    border-radius: 50%;
}